<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
		id="cordova-auto-client-cert-auth"
		version="1.1.7">

  <name>Client auto certificate authentication</name>
  <description>Cordova auto certificate authentication Plugin</description>
  <license>MIT</license>
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
 
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Plugin_CertificateAuthentication">
        <param name="android-package" value="ch.migros.plugin.Plugin_CertificateAuthentication"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/Plugin_CertificateAuthentication.java" target-dir="src/ch/migros/plugin"/>
    <resource-file src="src/android/res/values/strings.xml" target="res/values/Plugin_CertificateAuthentication_strings.xml" />
  </platform>

</plugin>
